.button {
    @apply mt-10;
    display: inline-block;
    position: relative;
    padding: 10px 26px;
    font-size: 14px;
    line-height: 22px;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    text-transform: none;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 300ms all ease-in-out;
    letter-spacing: 0.15em;

    &:focus,
    &:active,
    &:active:focus {
        outline: none;
    }

    & .caret {
        margin-left: 8px;
    }
}

.button-arrow {
    text-transform: uppercase;
    margin-right: 25px;
    margin-left: 25px;
    overflow: visible;

    & > svg {
        position: absolute;
        top: 50%;
        right: -25px;
        stroke-width: 2px;
        will-change: transform;
        transition: transform 300ms ease-in-out, right 300ms ease-in-out;
        transform: translateY(-50%);

        & polygon {
            fill: transparent;
        }
    }

    &:before {
        position: absolute;
        top: 50%;
        right: -2px;
        content: '';
        height: 2px;
        width: 14px;
        background: white;
        will-change: transform;
        transform: translateY(-50%);
        transition: width 200ms, height 200ms, background 300ms ease-in-out;
        z-index: 10;
    }
}

.button-white.button-arrow {
    &:focus,
    &:active,
    &:hover {
        transition: ease-in-out color 150ms 200ms;

        & > svg {
            right: -25px;
        }

        &:before {
            width: 100%;
            height: 100%;
            transition: width 200ms, height 150ms 200ms;
            z-index: -1;
        }
    }
}

.button-arrow {
    &:focus,
    &:active,
    &:hover {
        & svg {
            transform: translateY(-50%) rotateX(180deg);
        }
    }
}

@screen sm {
    .button-arrow {
        margin-left: 0;
    }
}

.button-white {
    color: #fff;
    background-color: transparent;
    border-color: white;
    stroke: white;
    z-index: 1;

    &:focus,
    &:active,
    &:hover {
        color: #6f8b6d;
        background-color: transparent;
        border-color: #fff;

        & polygon {
            fill: white;
        }
    }
}

.button-primary {
    color: #fff;
    background-color: #6f8b6d;
    border-color: #6f8b6d;
    stroke: #6f8b6d;

    &:focus,
    &:active,
    &:hover {
        color: #6f8b6d;
        background-color: transparent;
        border-color: #6f8b6d;

        &:before {
            background: #6f8b6d;
        }

        & polygon {
            fill: #6f8b6d;
        }
    }
}

.button-white.button-arrow {
    &:before {
        right: 0;
    }
}
