footer a {
    transition: all 0.25s ease-in-out;
    @apply text-sunset-cyan no-underline leading-normal;
}

footer a:hover {
    @apply text-sunset-blue-light;
}

footer ul {
    @apply list-reset;
}

footer h5 {
    @apply mb-2 font-semibold text-xl border-sunset-bisque-light border-b pb-1 inline-block;
}

footer ul li:before {
    @apply mr-2 text-sunset-bisque-light font-semibold;
    content: '>';
}

footer ul li a:hover {
    @apply pl-2;
}

footer .deetoo__logo {
    opacity: 0.8;
    transition: opacity 0.5s;
}

footer .deetoo__logo:hover {
    opacity: 1;
}
